.line-badge {
  font-size: large!important;
  margin-left: 0;
  margin-bottom: 1rem;
  text-align: center;
  width: 4rem;
}

.bus-line-card {
  margin: 1rem!important;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 1rem;
  min-width: 20rem;
  width: 20rem!important;
  height: 9rem!important;
}

.container {
  margin: 1rem;
}

.col-sm {
  padding: 0!important;
}

.bi-arrow-left-right {
  margin: 0.5rem;
}