@import url(https://fonts.googleapis.com/css?family=Lato);
@import "../../node_modules/bootstrap/scss/bootstrap";

.bus-stop-card {
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 1rem;
}

.bus-list {
  margin: 1rem;
}

