.nav-link {
  color: white!important;
  font-size: xx-large;
  line-height: 2rem;
}

.nav-link:active {
  color: white!important;
  font-size: xx-large;
  line-height: 2rem;
  text-decoration: underline;
}
.navbar-text {
  color: white!important;
  margin-right: 2.5rem;
  font-size: xxx-large;
  line-height: 2rem;
}
.navbar {
  height: 1rem;
  vertical-align: center;
  font-size: x-large;
}

.active {
  color: red;
}