@import url(https://fonts.googleapis.com/css?family=Lato);
@import "../node_modules/bootstrap/scss/bootstrap";

$font-family-sans-serif: "Lato", sans-serif;

body {
  font-family: $font-family-sans-serif;
  font-size: larger;

}
h1 {
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
  color: white;
}
h2 {
  margin: 1rem;
  font-size: xx-large;
  font-weight: bolder;
}
input[type="text"] {
  font-family: $font-family-sans-serif;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  background-color: whitesmoke;
  border: none;
}

input[type="text"]:focus {
  font-family: $font-family-sans-serif;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  background-color: whitesmoke;
  border: none;
}
input[type="submit"]:hover {
  font-family: $font-family-sans-serif;
  background-color: rgb(0, 11, 119);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
input[type="submit"] {
  font-family: $font-family-sans-serif;
  background-color: rgb(0, 15, 159);
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
label {
  padding-right: 1rem;
}
button {
  font-family: $font-family-sans-serif;
}
form {
  margin-top: 2rem;
  text-align: center;
}

.container-fluid{
  background-color: rgb(0, 15, 159);
  padding: 4rem;
  text-align: center;
}
.spinner-border {
  margin: 10rem;
  color: red;
  font-size: xx-large;
  width: 5rem;
  height: 5rem;
}
.table th, .table td, .table {
  background-color: whitesmoke;
}
.badge {
  background-color: rgb(225, 37, 27)!important;
  font-family: $font-family-sans-serif;
}